*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, blue, purple);
}
.container{
    width: 80%;
    max-width: 540px;
    background: cornsilk;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 30px 70px;
    text-align: center;
}
.heading{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;    
}
.heading img{
    width: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex-direction: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    width: 80%;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: cornsilk;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.list{
    text-align: left;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
    max-width: 400px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://cdn-icons-png.freepik.com/256/14051/14051943.png?ga=GA1.1.1236349696.1686482087&);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://cdn-icons-png.freepik.com/256/7205/7205353.png?ga=GA1.1.1236349696.1686482087&);
}
ul li span{
    position: absolute;
    left: 425px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(255, 77, 77);
    font-weight: bold;
    color: white;
}